<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node Express ES6 Starter</title>
    <link rel="stylesheet" href="css/app.css" media="screen" title="no title">
  </head>
  <body>
    <div class="container">
            <ul>
              <li><a href="xml">XML Recherche</a></li>
              <li><a href="xml/countries.xml">XML Trie</a></li>
              <li><a href="xml/countries-2.xml">Top Pays</a></li>
              <li><a href="xml/countries-3.xml">Top Villes</a></li>
            </ul>
    </div>
  </body>

</html>
